<div class="center jumbotron">
	<h1>Welcome!</h1>
	<p>Realize your dream here!</p>
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
<<<<<<< Updated upstream
    <div class="container">
      
        <div class="col-lg-6">
          <h4><%= link_to "Universities", "/general/ranking" %></h4>
          <p>University ranking put here</p>
        
          <br>
          <br>
		  <h4>  <%= link_to "Major ranking",mylist_path%> </a></h4>
          
          <p>Major ranking put here</p>
          <p></p>
           
          <p></p>
        </div>

     <div class="col-lg-6">
       <h4><%= link_to "Hot universities", mylist_path %></h4>
       <p>University ranking put here</p>
     
       <br>
       <br>
       <h4><%= link_to "Recommended universities", mylist_path %></h4>
       <p>Major ranking put here</p>
       <p></p>
        
       <p></p>
     </div>
        </div>
=======

<% @schools = School.all%>
<%= render template: "schools/index" %>
>>>>>>> Stashed changes
