<h1>Recommended Universities</h1>

<table>

<table border="1">
  <tr>
    <th>Name</th>
		<th>Followed</th>
    <th>Address</th>
	<th>City</th>
	<th>Institution_State</th>
	<th>Institution_Zip</th>
	<th>Institution_Web_Address</th>
	<th>  </th>
	
  </tr>
	
 <% @recommendeduniversity.each do |university| %>     
   <tr>
     <td><%= link_to university.institution_name %></td>
	 <td></td>
	 <td><%= university.institution_address %></td> 
	 <td><%= university.institution_city %></td> 
	 <td><%= university.institution_state %></td>
	 <td><%= university.institution_zip%></td>
	 <td><%=link_to university.institution_web_address, url_options="http://#{university.institution_web_address}"%></td>
	 <td>
		
	 </td>
	
	 
   </tr>
 <% end %>
</table>

