<h1>Universities</h1>
<h2></h2>
 <%= form_tag index_path, :method => 'get' do %> 
   <p>
     <%= text_field_tag :search, params[:search] %> <%= submit_tag "Search", :name => nil %>
   </p>
 <% end %>

<%= will_paginate @schools%>	

<table border="1">
  <tr>
    <th>Name</th>
		<th>Followed</th>
    <th>Address</th>
	<th>City</th>
	<th>Institution_State</th>
	<th>Institution_Zip</th>
	<th>Institution_Phone</th>
	<th>Institution_Web_Address</th>
	<th>Accreditation_Status</th>
	<th>  </th>
	
  </tr>
	
 <% @schools.each do |school| %>     
   <tr>
     <td><%= school.Institution_Name %></td>
	 <td><%= school.follow %></td>
	 <td><%= school.Institution_Address %></td> 
	 <td><%= school.Institution_City %></td> 
	 <td><%= school.Institution_State %></td>
	 <td><%= school.Institution_Zip%></td>
	 <td><%= school.Institution_Phone %></td>
	 <td><%=link_to school.Institution_Web_Address, url_options="http://#{school.Institution_Web_Address}"%></td>
	 <td><%=school.Accreditation_Status%>
	 <td>
		 <% if current_user %>
		 <%= link_to "Add", addSchool_path(:user_id=>current_user.id, :school_id=>School.find_by(Institution_ID:school.Institution_ID).id, :name=> school.Institution_Name), method:"post" %>
		 <% else %>
		 <%= link_to "Add", new_user_session_path %>
		 <% end %>
	 </td>
	
	 
   </tr>
 <% end %>
</table>

<%= will_paginate @schools%>	