<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.username %></h1>
      <span><%= link_to "view my profile", '#' %></span>
      <span><b>My List:</b> <%= @user.my_schools.count %></span>
    </section>
    <section class="stats">
      <%= render 'devise/shared/stats' %>
			<br>
			<br>
			<hr>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            	<%= link_to gravatar_for(user,size: 30), 'users/list', method: "get" %>
          <% end %>
        </div>
      <% end %>
    </section>
		<div id="add_following">
		<%= button_to "Follow More", "/general/add_following", class: "btn btn-primary", :method => :get %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render 'general/users_list' %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>

