<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username if @user.username %>
				<%= @user.email if not @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'devise/shared/stats' %>
    </section>
		<%=render 'users/follow_form'%>
  </aside>
  <div class="col-md-8">
      <h3>School List (<%= @user.my_schools.count %>)</h3>
      <ol class="mylist">
        <%= render @user.my_schools %>
      </ol>
  </div>
</div>