<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :INSTNM %><br>
    <%= f.text_field :INSTNM %>
  </div>
  <div class="field">
    <%= f.label :ADDR %><br>
    <%= f.text_field :ADDR %>
  </div>
  <div class="field">
    <%= f.label :CITY %><br>
    <%= f.text_field :CITY %>
  </div>
  <div class="field">
    <%= f.label :STABBR %><br>
    <%= f.text_field :STABBR %>
  </div>
  <div class="field">
    <%= f.label :ZIP %><br>
    <%= f.text_field :ZIP %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
