<p id="notice"><%= notice %></p>


<p>
  <strong>Instnm:</strong>
  <%= @school.INSTNM %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @school.ADDR %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.CITY %>
</p>

<p>
  <strong>Stabbr:</strong>
  <%= @school.STABBR %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @school.ZIP %>
</p>

<p>
  <strong>Fips:</strong>
  <%= @school.FIPS %>
</p>

<p>
  <strong>Obereg:</strong>
  <%= @school.OBEREG %>
</p>

<p>
  <strong>Chfnm:</strong>
  <%= @school.CHFNM %>
</p>

<p>
  <strong>Chftitle:</strong>
  <%= @school.CHFTITLE %>
</p>

<p>
  <strong>Gentele:</strong>
  <%= @school.GENTELE %>
</p>

<p>
  <strong>Faxtele:</strong>
  <%= @school.FAXTELE %>
</p>

<p>
  <strong>Ein:</strong>
  <%= @school.EIN %>
</p>

<p>
  <strong>Opeid:</strong>
  <%= @school.OPEID %>
</p>

<p>
  <strong>Opeflag:</strong>
  <%= @school.OPEFLAG %>
</p>

<p>
  <strong>Webaddr:</strong>
  <%= @school.WEBADDR %>
</p>

<p>
  <strong>Adminurl:</strong>
  <%= @school.ADMINURL %>
</p>

<p>
  <strong>Faidurl:</strong>
  <%= @school.FAIDURL %>
</p>

<p>
  <strong>String:</strong>
  <%= @school.string %>
</p>

<p>
  <strong>Applurl:</strong>
  <%= @school.APPLURL %>
</p>

<p>
  <strong>Npricurl:</strong>
  <%= @school.NPRICURL %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @school.SECTOR %>
</p>

<p>
  <strong>Iclevel:</strong>
  <%= @school.ICLEVEL %>
</p>

<p>
  <strong>Control:</strong>
  <%= @school.CONTROL %>
</p>

<p>
  <strong>Hloffer:</strong>
  <%= @school.HLOFFER %>
</p>

<p>
  <strong>Ugoffer:</strong>
  <%= @school.UGOFFER %>
</p>

<p>
  <strong>Groffer:</strong>
  <%= @school.GROFFER %>
</p>

<p>
  <strong>Hdegofr1:</strong>
  <%= @school.HDEGOFR1 %>
</p>

<p>
  <strong>Deggrant:</strong>
  <%= @school.DEGGRANT %>
</p>

<p>
  <strong>Hbcu:</strong>
  <%= @school.HBCU %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @school.HOSPITAL %>
</p>

<p>
  <strong>Medical:</strong>
  <%= @school.MEDICAL %>
</p>

<p>
  <strong>Tribal:</strong>
  <%= @school.TRIBAL %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @school.LOCALE %>
</p>

<p>
  <strong>Openpubl:</strong>
  <%= @school.OPENPUBL %>
</p>

<p>
  <strong>Act:</strong>
  <%= @school.ACT %>
</p>

<p>
  <strong>Newid:</strong>
  <%= @school.NEWID %>
</p>

<p>
  <strong>Deathyr:</strong>
  <%= @school.DEATHYR %>
</p>

<p>
  <strong>Closedat:</strong>
  <%= @school.CLOSEDAT %>
</p>

<p>
  <strong>Cyactive:</strong>
  <%= @school.CYACTIVE %>
</p>

<p>
  <strong>Postsec:</strong>
  <%= @school.POSTSEC %>
</p>

<p>
  <strong>Pseflag:</strong>
  <%= @school.PSEFLAG %>
</p>

<p>
  <strong>Pset4flg:</strong>
  <%= @school.PSET4FLG %>
</p>

<p>
  <strong>Rptmth:</strong>
  <%= @school.RPTMTH %>
</p>

<p>
  <strong>Ialias:</strong>
  <%= @school.IALIAS %>
</p>

<p>
  <strong>Instcat:</strong>
  <%= @school.INSTCAT %>
</p>

<p>
  <strong>Ccbasic:</strong>
  <%= @school.CCBASIC %>
</p>

<p>
  <strong>Ccipug:</strong>
  <%= @school.CCIPUG %>
</p>

<p>
  <strong>Ccipgrad:</strong>
  <%= @school.CCIPGRAD %>
</p>

<p>
  <strong>Ccugprof:</strong>
  <%= @school.CCUGPROF %>
</p>

<p>
  <strong>Ccenrprf:</strong>
  <%= @school.CCENRPRF %>
</p>

<p>
  <strong>Ccsizset:</strong>
  <%= @school.CCSIZSET %>
</p>

<p>
  <strong>Carnegie:</strong>
  <%= @school.CARNEGIE %>
</p>

<p>
  <strong>Landgrnt:</strong>
  <%= @school.LANDGRNT %>
</p>

<p>
  <strong>Instsize:</strong>
  <%= @school.INSTSIZE %>
</p>

<p>
  <strong>Cbsa:</strong>
  <%= @school.CBSA %>
</p>

<p>
  <strong>Cbsatype:</strong>
  <%= @school.CBSATYPE %>
</p>

<p>
  <strong>Csa:</strong>
  <%= @school.CSA %>
</p>

<p>
  <strong>Necta:</strong>
  <%= @school.NECTA %>
</p>

<p>
  <strong>F1systyp:</strong>
  <%= @school.F1SYSTYP %>
</p>

<p>
  <strong>F1sysnam:</strong>
  <%= @school.F1SYSNAM %>
</p>

<p>
  <strong>F1syscod:</strong>
  <%= @school.F1SYSCOD %>
</p>

<p>
  <strong>Countycd:</strong>
  <%= @school.COUNTYCD %>
</p>

<p>
  <strong>Countynm:</strong>
  <%= @school.COUNTYNM %>
</p>

<p>
  <strong>Cngdstcd:</strong>
  <%= @school.CNGDSTCD %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @school.LONGITUD %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @school.LATITUDE %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
