<h1><%=@school.Institution_Name%></h1>

 <h4 class="followed_by">Followed by <%=pluralize(@school.follow, 'user')%></h4>

<hr>
<table id="description">
<tr>
 <th>State:</th>
 <td><%=@school.Institution_State%></td>
</tr>
<tr>
 <th>City:</th>
 <td><%=@school.Institution_City%></td>
</tr>
<tr>
 <th>Address:</th>
 <td><%=@school.Institution_Address%></td>
</tr>
<tr>
 <th>Zip:</th>
 <td><%=@school.Institution_Zip%></td>
</tr>
<tr>
 <th>Phone:</th>
 <td><%=@school.Institution_Phone%></td>
</tr>
<tr>
 <th>Website:</th>
 <td><%=@school.Institution_Web_Address%></td>
</tr>
</table>

	
<hr>
<%=render '/majorrankings/reviews'%>