<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</head>
<body>
	<%= render 'layouts/header' %>
	<div id="main-container" class="container-fluid">
		<div class="row">
			<div id="sidebar" class="col-xs-2">
				<%= render 'layouts/sidebar'%>
			</div>
			<div id="main-content" class="col-xs-10">
				<%= yield %>
			</div>
		</div>
	</div>
    
	<%= render 'layouts/footer' %>

  


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body></html>
