<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<<<<<<< Updated upstream
    
<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
</head>
=======
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="author" content="">
	<%= stylesheet_link_tag "bootstrap.css" %>
	<%= stylesheet_link_tag "styles.css" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

>>>>>>> Stashed changes
<body>
<video autoplay="" loop="" poster="<%= asset_path('f1.jpg') %>" id="bgvid">
</video>
	<%= render 'layouts/header' %>
	<div id="main-container" class="container-fluid">
		<div class="row">
			<div id="sidebar" class="col-xs-2">
				<%= render 'layouts/sidebar'%>
			</div>
			<div id="main-content" class="col-xs-10">
				<%= yield %>
			</div>
		</div>
	</div>
    
	<%= render 'layouts/footer' %>
	<script src="jquery.js"></script>
	<script src="bootstrap.js"></script>
</body></html>